minimumReleaseAgeStrict=false
minimumReleaseAgeExclude=@tanstack/react-devtools@0.10.10,@tanstack/devtools@0.14.0,@tanstack/devtools-ui@0.7.0,@tanstack/react-router@1.170.28,@tanstack/react-start@1.168.45,@tanstack/router-core@1.171.23,@tanstack/react-start-client@1.168.26,@tanstack/react-start-rsc@0.1.44,@tanstack/react-start-server@1.167.33,@tanstack/start-client-core@1.170.23,@tanstack/start-plugin-core@1.171.35,@tanstack/start-server-core@1.169.27,@tanstack/start-storage-context@1.167.25,@tanstack/router-generator@1.167.29,@tanstack/router-plugin@1.168.31
