minimumReleaseAgeStrict=false
minimumReleaseAgeExclude=@tanstack/react-devtools@0.10.10,@tanstack/devtools@0.14.0,@tanstack/devtools-ui@0.7.0,@tanstack/react-router@1.170.28 || 1.170.29,@tanstack/react-start@1.168.45 || 1.168.46,@tanstack/router-core@1.171.23 || 1.171.24,@tanstack/react-start-client@1.168.26 || 1.168.27,@tanstack/react-start-rsc@0.1.44 || 0.1.45,@tanstack/react-start-server@1.167.33 || 1.167.34,@tanstack/start-client-core@1.170.23 || 1.170.24,@tanstack/start-plugin-core@1.171.35 || 1.171.36,@tanstack/start-server-core@1.169.27 || 1.169.28,@tanstack/start-storage-context@1.167.25 || 1.167.26,@tanstack/router-generator@1.167.29 || 1.167.30,@tanstack/router-plugin@1.168.31 || 1.168.32
