@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@import "@astryxdesign/core/reset.css";
@import "@astryxdesign/core/astryx.css";

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
  transition:
    background-color 200ms ease-out,
    color 200ms ease-out;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
